/* css for forgot password page*/
h2{
    text-align: center;
    color:rgb(109, 139, 153);
    border-end-end-radius: 2px solid;
    padding: 5px;
    background: #13303f
}
span{
    font-size: 12px;
    text-align: left;
    width: 100%;
}
.eBox{
    text-align: left
}
.forgotPassword{
    text-align: center;
}
.forgotPasswordForm{
    text-align: center;
}
.forgotPasswordBox{
    background-color: #ffffff;
    border: 2px solid black;
    opacity: 0.6;
    text-align: center;
    position: absolute;
    width:300px;
    padding: 15px;
    margin-left: 38%;
    margin-top: 8%;
    font-size: 15px;
    border-radius: 10px;
}
.imageFrgt{
    background: url(../assets/loginBackground.jpg);
    opacity: 0.8;
    margin: auto;
    padding-bottom: 8%;
    width: 80em;
    height: 38em;
    background-size: cover;                
    background-repeat: no-repeat;
    background-position: center center;
}
label {
    color: rgb(12, 11, 11);
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    text-align: left;
    padding: 5px;
    width: 180px;
}
label:after { 
    content: " : " 
}
input{
    text-align: left;
    margin-bottom: 10px;
}
.forgotPasswordBtn{
    cursor: pointer;
    font-size: 1em;
    text-align: center
}
.butn{
    background: #5289a8;
    font-size: 18px;
    font-style: initial;
    color: black;
    border: 1px solid;
    border-radius: 15px;
    padding: 6px;
    margin: 1px;
    margin-top: 5px;
    text-align: center;
}
.butn:hover{
    background-color: #0f6496;
}
.butn:active {
    background-color: #0f6496;
    transform: translateY(4px);
}