/* css for forgot password page*/
h2{
    text-align: center;
    color:rgb(13, 104, 146);
    text-align: center;
    border-end-end-radius: 2px solid;
    padding: 5px;
    background: #13303f
}
.eBox{
    text-align: left
}
.forgotPassword{
    text-align: center;
}
.forgotPasswordForm{
    text-align: center;
}
.forgotPasswordBox{
    background-color: #ffffff;
    border: 2px solid black;
    opacity: 0.6;
    border-radius: 10px;
    width: 280px;
    padding: 15px;
    text-align: center;
    margin-top: 50px;
    display: inline-block;
}
.imageFrgt{
    background: url(../assets/loginBackground.jpg);
    height: 100%;
    opacity:0.8;                   
    background-repeat: no-repeat;
}
label {
    color: rgb(12, 11, 11);
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    text-align: left;
    padding: 5px;
    width: 180px;
}
label:after { 
    content: " : " 
}
input{
    text-align: left;
    margin-bottom: 10px;
}
.forgotPasswordBtn{
    cursor: pointer;
    font-size: 1em;
    text-align: center
}
.butn{
    background: #5289a8;
    font-size: 18px;
    font-style: initial;
    color: black;
    border: 1px solid;
    border-radius: 15px;
    padding: 6px;
    margin: 1px;
    margin-top: 5px;
    text-align: center;
}
.butn:hover{
    background-color: #0f6496;
}
.butn:active {
    background-color: #0f6496;
    transform: translateY(4px);
}