<html>

<head>
    <link rel="stylesheet" href="../css/forgotPassword.css" type='text/css'>
    <title>Forgot password page</title>
</head>

<body class="forgotPassword" ng-controller="forgotPasswordCtrl">
    <div class="imageFrgt">
        <form method="POST" name="forgotPasswordForm">
            <div class="forgotPasswordBox">
                <!--forgot password header-->
                <h2>Forgot Password</h2>
                <div class="eBox">
                    <!--label text box for email-->
                    <label for="email">Email-id</label><br>
                    <input type="email" ng-model="email" placeholder="email" required />
                    <!-- <span style="color:red" ng-show="post.email.$dirty && post.email.$invalid" class="ng-hide"><br>
                    <span ng-show="post.email.$error.required">Please fill out this field.</span>
                    <span ng-show="post.email.$error.email">Enter a valid email address.</span>
                </span><br> -->
                </div>
                <div class="forgotPasswordBtn">
                    <!--button to submit forgot password form-->
                    <button type="submit" class="butn" ng-click="forgotPassword()" ng-disable="forgotPasswordForm.$invalid">Submit</button>
                    <!-- <span style="color:red">{{ error }}</span> -->

                    <a ui-sref=""></a>
                </div>
            </div>
        </form>
    </div>
    </div>
</body>




</html>