<html>

<head>
    <link rel="stylesheet" href="../css/forgotPassword.css" type='text/css'>
    <title>Forgot password page</title>
</head>

<body class="forgotPassword" ng-controller="forgotPasswordCtrl">
    <div class="imageFrgt">
        <form method="POST" name="forgotPasswordForm" novalidate>
            <div class="forgotPasswordBox">
                <!--forgot password header-->
                <h2>Forgot Password</h2>
                <div class="eBox">
                    <!--label text box for email-->
                    <label for="email">Email-id</label>
                    <input type="email" name="email" ng-model="email" placeholder="email" required />
                    <span style="color:red"
                        ng-show="forgotPasswordForm.email.$touched && forgotPasswordForm.email.$invalid">
                        <span ng-show="forgotPasswordForm.email.$error.required">Email-id is required.</span>
                        <span ng-show="forgotPasswordForm.email.$error.email">Enter a valid email address</span>
                    </span>
                </div>
                <div class="forgotPasswordBtn">
                    <!--button to submit forgot password form-->
                    <button type="submit" class="butn" ng-click="forgotPassword()">Submit</button>
                </div>
                <p class="reset">
                        <a ui-sref="resetPassword">Reset Password</a></p>
            </div>
        </form>
    </div>
    </div>
</body>




</html>