<html>

<head>
    <link rel="stylesheet" href="../css/register.css" type='text/css'>
    <title>Registration Page</title>
</head>

<body class="signUp" ng-controller="registerCtrl">
    <div class="imageReg">
        <form method="POST" name="registerForm" novalidate>
            <!--form for registration page-->
            <div class="registerBox">
                <h2>Registration</h2>
                <div class="fn">
                    <!--text box for first name-->
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" ng-model="firstName" ng-pattern="/^[a-zA-Z]*$/" ng-minlength="3"
                        placeholder="First name" required />
                    <span style="color:red"
                        ng-show="registerForm.firstName.$touched && registerForm.firstName.$invalid">
                        <span ng-show="registerForm.firstName.$error.required">First name is required.</span>
                        <span ng-show="registerForm.firstName.$error.pattern">Enter only alphabets</span>
                        <span ng-show="registerForm.firstName.$error.minlength">Enter more than 3 characters</span>
                    </span>
                </div>
                <div class="ln">
                    <!--text box for last name-->
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" ng-pattern="/^[a-zA-Z]*$/" ng-model="lastName" ng-minlength="1"
                        placeholder="Last name" required />
                    <span style="color:red" ng-show="registerForm.lastName.$touched && registerForm.lastName.$invalid">
                        <span ng-show="registerForm.lastName.$error.required">Last name is required.</span>
                        <span ng-show="registerForm.lastName.$error.pattern">Enter only alphabets</span>
                        <span ng-show="registerForm.lastName.$error.minlength">Enter atleast 1 character</span>
                    </span>
                </div>
                <div class="em">
                    <!--text box for email-->
                    <label for="email">Email-Id</label>
                    <input type="email" name="email" ng-model="email" placeholder="email" required />
                    <span style="color:red" ng-show="registerForm.email.$touched && registerForm.email.$invalid">
                        <span ng-show="registerForm.email.$error.required">Email-id is required.</span>
                        <span ng-show="registerForm.email.$error.email">Enter a valid email address</span>
                    </span>
                </div>
                <div class="pwd">
                    <!--label and text box for password-->
                    <label for="password">Password</label>
                    <input type="password" name="password"
                        ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,12}$/"
                        ng-model="password" placeholder="password" required />
                    <span style="color:red" ng-show="registerForm.password.$touched && registerForm.password.$invalid">
                        <span ng-show="registerForm.password.$error.required">Password is required.</span>
                        <span ng-show="registerForm.password.$error.pattern">Password must contain atleast a small
                            case,capital case,number,special character and length must be between 8-12</span>
                    </span>
                </div>
                <div class="conpwd">
                    <!--label and text box for confirm password-->
                    <label for="confirmPassword">Confirm-Password</label>
                    <input type="password" name="confirmPassword" ng-model="confirmPassword"
                        ng-pattern="/^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,12}$/"
                        placeholder="confirmPassword" required />
                    <span style="color:red"
                        ng-show="registerForm.confirmPassword.$touched && registerForm.confirmPassword.$invalid">
                        <span ng-show="registerForm.confirmPassword.$error.required">Password is required.</span>
                        <span ng-show="registerForm.confirmPassword.$error.pattern">Password must contain atleast a
                            small case,capital case,number,special character and length must be between 8-12</span>
                    </span>
                </div>
                <div class="registerBtn">
                    <!--button to submit the registration-->
                    <button type="submit" class="btn" ng-click="register()"
                        ng-disabled="registerForm.$invalid">Signup</button>
                    <a ui-sref=""></a>
                    <button type="button" class="cancelBtn" ui-sref="login">Signin</button>
                </div>

            </div>
        </form>
    </div>
</body>

</html>