<html>

<head>
    <link rel="stylesheet" href="../css/resetPassword.css" type='text/css'>
    <title></title>
</head>

<body class="resetPassword" ng-controller="resetPasswordCtrl">
    <div class="imageRst">
        <form method="POST" name="resetPasswordForm">
            <div class="resetPasswordBox">
                <!--reset password header-->
                <h2>Reset Password</h2>
                <div class="newPassword">
                    <!--label and text box for new password-->
                    <label for="newPassword">New Password</label>
                    <input type="password" name="newPassword"
                        ng-pattern="/^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,12}$/"
                        ng-model="newPassword" placeholder="New password" required />
                    <!-- <span style="color:red" ng-show="post.newPassword.$dirty && post.newPassword.$invalid"
                    class="ng-hide"><br>
                    <span ng-show="post.newPassword.$error.required">Please fill the out this field.</span>
                    <span ng-show="post.newPassword.$error.password">Enter a valid password.</span>
                    <span ng-show="post.newPassword.$error.minlength">Password should be atleast 8 characters.</span>
                </span><br> -->
                </div>
                <div class="confirmPassword">
                    <!--label and text box for confirm password-->
                    <label for="confirmPassword">Confirm-Password</label>
                    <input type="password" name="confirmPassword"
                        ng-pattern="/^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,12}$/"
                        ng-model="confirmPassword" placeholder="Confirm-Password" required />
                    <!-- <span style="color:red" ng-show="post.password.$dirty && post.password.$invalid" class="ng-hide"><br>
                    <span ng-show="post.confirmPassword.$error.required">Please fill the out this field.</span>
                    <span ng-show="post.confirmPassword.$error.password">Enter a valid password.</span>
                    <span ng-show="post.confirmPassword.$error.minlength">Password should be atleast 8
                        characters.</span>
                </span><br> -->
                </div>
                <div class="resetPasswordBtn">
                    <!--button to submit the reset password form-->
                    <button type="submit" class="buttn" ng-disable="resetPasswordForm.$invalid">Submit</button>
                    <!-- <span style="color:red">{{ error }}</span> -->
                    <a ui-sref="login"></a>
                </div>
            </div>
        </form>
    </div>
    </div>
</body>

</html>